@import "tailwindcss";

:root {
  --background: #faf8f5;
  --foreground: #2c2c2c;

  --primary: #6b4226;
  --secondary: #b8a58c;
  --accent: #8a9a5b;

  --border: #d6cfc7;

  --card-header1: #4d9a67;
  --card-header2: #cc7352;
  --card-header3: #da9233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #3b82f6; /* lighter blue */
    --secondary: #a855f7; /* lighter purple */
    --accent: #fbbf24; /* lighter amber */
    --muted: #9ca3af; /* gray-400 */
    --border: #374151; /* gray-700 */
  }
}

@theme {
  --font-english: var(--font-english);
  --font-arabic: var(--font-arabic);
}

body {
  background: var(--background);
  color: var(--foreground);
}

:root {
  font-family: var(--font-english), sans-serif;
}

:lang(ar) {
  font-family: var(--font-arabic), serif;
}
